@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root{
    --primary-color: rgb(206, 201, 201);
    --primary-color-light: #3e9eca;
    --primary-color-dark: rgba(10, 11, 65, 0.7);
}

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background: url(https://images.unsplash.com/photo-1599842364915-6d3b065f15a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80); 
    background-repeat: no-repeat;   
    background-size: 100%;
}

header{
    /* background-color: white; */
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links{
    font-size: 22px;    
}

.links a + a{
    margin-left: 32px;    
}

.links a{    
    text-decoration: none;
    color: rgb(206, 201, 201);
    position: relative;
}

.links a.active {
    font-weight: bold;
    color: white;
}

.links a:hover{    
    color: white;

}

.links a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: white;
    left: 0;
    position: absolute;
    bottom: -4px;    
}

.links a:hover::after{    
    width: 100%;    
    transition: width 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.card{
    background-color: rgb(219, 223, 219, 0.2);
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: 0px 2px 6px -2px rgba(250, 250, 250, 0.5);
    animation-name: up 200ms ease-out;
}

@keyframes up{
    from{      
        opacity: 0;  
        transform: translateY(15px)
    }
    to{
        opacity: 1;
    }
}

.details {
    padding: 20px;
}

.details .item{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.details .item:last-child{
    border: none;
}

.details h3{
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(219, 223, 219, 0.5);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.details .item div:nth-child(1){
    font-size: 14px;
    line-height: 24px;
    color: var(--primary-color);
    letter-spacing: 0.5px;
    font-weight: normal;
}

.details .item div:nth-child(2){
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.details .item div:nth-child(2) span{
    padding: 8px 16px;
    background-color: var(--primary-color);
    border-radius: 16px;
    color: black;
    margin-right: 4px;
    margin-top: 4px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;    
}

input, select{
    width: 100%;
    outline: none;
    color: black;
    font-weight: normal;
    font-size: 16px;
}

select{
    font-size: 14px;
    font-weight: normal;
    color: black;
}

input[type="radio"]{
    width: initial;
    margin-right: 4px;
}

input[type="date"]{   
    font-size: 16px;
    color: black;
}

input::placeholder{
    font-size: 14px;
    font-weight: normal;
    background-color: none;
}

option{
    font-size: 14px;
    font-weight: bold;
    color:var(--primary-color-dark)
}

option[type="selected"]{
    font-size: 14px;
    font-weight: bold;
    color:var(--primary-color-dark)
}


button[type="submit"],
a.button {
    padding: 8px 32px;
    background-color: var(--primary-color);
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

a.button{
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

#form-delete button[type="submit"] {
    margin-top: 8px;
    background-color: lightcoral;
    /* display: flex; */
}

.table-container{
    display: block;
    padding: 40px;
    box-sizing: border-box;    
}

.table-container table{
    border-spacing: 0;
    width: 100%;
}

.table-container thead tr th{
    text-align: left;
}

td,th {
    padding: 18px ;
    border-bottom: 1px solid #d9d9d9;
    color: white;
}

th{
    text-transform: uppercase;
    color: rgb(206, 201, 201);;
    font-size: 14px;
}

tbody tr:last-child td{
    border-bottom: none;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:first-child span{
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white;
}

tbody tr td:last-child a,
.table-container > a{
    background-color: rgba(250, 250, 250, 0.3);
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border-radius: 4px;
}

.table-container > a{
    margin-bottom: 16px;
    display: inline-block;
}

.table-container thead tr th:last-child,
td:last-child {
    text-align: center;
}

/* .table-container tbody tr td:nth-child(2) span{
    background-color: red;
} */