<div class="item">
    <div>Avatar URL</div>
    <div>
        <input 
        type="url" 
        name="avatar_url"
        placeholder="http://"
        value="{{teacher.avatar_url}}"
        >
    </div>
</div>

<div class="item">
    <div>Nome completo</div>
    <div>
        <input 
        type="text" 
        name="name" 
        placeholder="Nome completo"
        value="{{teacher.name}}"
        >
    </div>
</div>

<div class="item">
    <div>Data de nascimento</div>
    <div>
        <input 
        type="date" 
        name="birth"
        value="{{teacher.birth}}"
        >
    </div>
</div>

<div class="item">
    <div>Grau de Escolaridade</div>
    <div>
        {{teacher.graduation}}
    </div>
</div>

<div class="item">
    <div>Tipo de aula</div>
    <div>
        <span>
            <input 
            type="radio" 
            name="type_class" 
            value="P"
            {% if teacher.type_class == 'P' %}
                checked
            {% endif %}>Presencial
            </span>
        <span>
            <input 
            type="radio" 
            name="type_class" 
            value="D"
            {% if teacher.type_class == 'D' %}
                checked
            {% endif %}>À distância
            </span>
    </div>
</div>

<div class="item">
    <div>Área de atuação</div>
    <div>
        <input 
        type="text" 
        name="services" 
        placeholder="Quais matérias atua"
        value="{{teacher.services}}">
    </div>
</div>

<button type="submit">Salvar</button>